<launch>

    <include file="$(find robot)/launch/robot_description.launch"/>

	<node pkg="vmxpi_ros_bringup" name="robot_interface" type="robot_interface" output="screen"/>
	<node pkg="oms"               name="oms_node"        type="oms_node"        output="screen"/>
    <node pkg="odometry"          name="odometry"        type="odometry"        output="screen"/>
    <node pkg="base_controller"   name="base_controller" type="base_controller" output="screen"/>

    <node pkg="core"              name="main"            type="main"            output="screen"/>


</launch>