<?xml version="1.0"?>
<launch>

  <!-- The drive_bot node -->
  <!-- <node name="base_controller" type="base_controller" pkg="base_controller" output="screen"></node> -->

   <!-- Move Base -->
  <node name="move_base" pkg="move_base" type="move_base" respawn="false" output="screen">
    <!-- <param name="base_global_planner" value="navfn/NavfnROS"/> -->
    <param name="base_global_planner" value="global_planner/GlobalPlanner"/>
    <param name="default_tolerance" value="0.9"/>
    
    <param name="planner_frequency" value="1.0" />
		<!-- <param name="planner_patience" value="5.0" /> -->
    <!-- <param name="base_global_planner" value="sbpl_lattice_planner/SBPLLatticePlannerROS" /> -->
    <!-- <param name="base_local_planner" value="base_local_planner/TrajectoryPlannerROS"/> -->
    <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS"/> 
    <param name="controller_frequency" value="4.0" />
    <!-- <param name="controller_patience" value="15.0" /> -->
    <param name="simple_goal_type" value="geometry_msgs/PoseStamped"/>
    <!-- <param name="use_dijkstra" value="false"/>
    <param name="outline_map" value="false"/>
    <param name="k_p_theta" value="1.0"/>
    <param name="k_i_theta" value="0.3"/> -->
    <rosparam file="$(find robot)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find robot)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find robot)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find robot)/config/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find robot)/config/teb_local_planner_params.yaml" command="load" />

    <!-- <param name="planner_frequency" value="0.2" /> -->

  </node>
  
</launch>